.container {
    max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}


@media (max-width: 767px) {
    body {
        padding-right: 20px;
        padding-left: 20px;
    }
}

#version {
    font-size: 9pt;
}

.product-device {
    position: absolute;
    right: 7%;
    bottom: -10%;
    width: 450px;
    height: 540px;
}

.product-device IMG {
    width: 100%;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.mx-auto {
    width: 80%;
    height: 420px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}
@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}

@media (max-width: 768px) {
    BODY {
        padding-right: 0px;
        padding-left: 0px;
    }
    .mx-auto {
        width: 100%;
        height: 170px;
    }
    .d-md-flex {
        margin-top: 20px;
    }
    .my-3 {
        padding: 0px !important;
    }
    H2 {
        font-size: 1.1rem;
    }
    .lead {
        font-size: 0.8rem;
    }
    .top-area {
        height: 350px;
    }
    .btn {
        padding: .275rem .55rem;
        font-size: 9pt;
    }
}


.overflow-hidden { overflow: hidden; }